@import "./Val.scss";
@import "Hover.scss";
@import "responsiveHeaderMedium.scss";

.menuContainer{
  padding: 0;
  z-index: 1000;
  position: absolute;
  width:100%;
}
.content{
  padding: 10px;
}
.menuList{
  padding: 10px;
  list-style: none;
  text-align: center;
}
.menuList li {
  display: inline;
  font-size: 20px;
  padding: 10px 40px;
}
.menuList li a {
  text-decoration: none;
  padding: 10px;
  color: white;
  font-weight: bold;
}

#backgroundOverflow{
  width:100%;
  height:100%;
  background-color: #324D5C;
  opacity: 0.5;
  position: absolute;
}
.background{
  width:100%;
  height: 660px;
  position: relative;
  padding: 0;
  margin:0 auto;
}
.background img{
  width:100%;
  height:100%;
}



.contentContainer{
  position: absolute;
  top: 200px;
  margin-left: 15%;
  width: 70%;
  display: inline;
  color: white;
}
.contentContainer h1{
  font-size: 55px;
  padding: 10px;
  font-weight: 700;
}
.contentContainer p{
  font-size: 16px;
  padding: 10px;
  font-weight: 500;
}
#containerButton{
  padding-top: 25px;
}

.buttonHireMe{
  background-color: #FF0030;
  opacity: 0.9;
  color: white;
  padding: 15px 60px 15px 60px;
  border-radius: 10px;
  text-decoration: none;
}
.buttonHireMe:hover{
  text-decoration: none;
  color: white;
}
.contentAvatar{
  position: absolute;
  left:65%;
  top: 150px;
}
.avatarSketch{
  width:60%;
  height:60%;
  object-fit: cover;
}